body{
    background-color:rgba(245, 245, 220, 0.808);
    text-align: center;
}

button{
    border: solid 2px black;
    border-radius: 5px;
    padding: 40px;
    background-color: white;
    color: black;
    font-size: 20px;
}

button:hover{
    background-color: black;
    color: white;
    transition: 150ms;
}